body {
  margin: 0 0;
  width: 100%;
  font-family: monospace;
}

p#output {
  font-size: 20px;
  font-family: monospace;
  text-align: justify;
  margin: 0;
}

strong {
  color: red;
}

p#typing {
  text-align: center;
}

em {
  font-size: 12px;
  text-align: center;
}

#wrap {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/aec89173426833.5c08f56351139.png);
  background-position: center;
  background-size: cover;
}


#output {
  overflow: scroll;
  padding: 5px;
}

#form {
  display: flex;
  flex-direction: column;
  bottom: 20px;
  margin: 0 auto;
  position: absolute;
  width: 48%;
  left: 26%;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  outline: none;
  font-family: monospace;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 1px #9cebf4;
  color: #000;
}

button {
  width: 20%;
  padding: 10px;
  background: border-box;
  border: none;
  font-weight: 900;
  color: #000;
  box-shadow: 0 3px 4px #040404;
  border-radius: 5px;
  font-size: 20px;
  display: block;
  float: right;
  cursor: pointer;
  outline: none;
}